aniso8601==7.0.0
arrow>=0.15.5
attrs==19.3.0
aiohttp
aiohttp_cors
aiohttp-graphql
autobahn==20.6.2
Automat==20.2.0
bcrypt==3.1.7
blinker==1.4
boto3
cffi==1.14.0
Click==7.0
constantly==15.1.0
docker==4.0.2
docutils==0.14
Flask>=1.1.1
Flask-Cors>=3.0.8
Flask-GraphQL>=2.0.1
Flask-JWT-Extended>=3.24.1
Flask-Login>=0.4.1
Flask-RESTful>=0.3.8
Flask-Session>=0.3.1
Flask-WTF>=0.14.2
#graphene==2.1.0
#graphene==3.0.0b4
graphene-mongo
graphene-sqlalchemy
graphql-core==2.3.2
# graphql-core == 3.0.0
graphql-ws
#graphql-core-next
graphql-relay<3.0.0
#graphql-relay>=3.0.0
graphql-server-core==1.2.0
#graphql-server-core==v3.0.0b1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mongoengine==0.19.1
promise==2.3
psycopg2
pycparser==2.19
PyHamcrest==2.0.1
python-application>=2.1.0
pymongo==3.10.1
pyOpenSSL>=18.0.0
python-dateutil==2.8.1
PyYAML==5.3
requests>=2.22.0
rx==1.6.1
service-identity>=18.0.0
singledispatch==3.4.0.3
six==1.14.0
treq==18.6.0
twilio==6.19.1
Twisted==20.3.0
urllib3
#uvicorn
Werkzeug>=1.0.0
